.wrapper {
    height: 100%;
    min-height: 490px;
    display: grid;
    grid-template-columns: 35.6rem 1fr;
    gap: 1.6rem;
}
.conversation-list,
.conversation-container {
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
}
.conversation-list,
.conversation-container {
    background-color: var(--white-color);
    overflow: hidden;
    border-radius: var(--border-radius-big);
    -webkit-border-radius: var(--border-radius-big);
    -moz-border-radius: var(--border-radius-big);
    -ms-border-radius: var(--border-radius-big);
    -o-border-radius: var(--border-radius-big);
}
.conversation-list {
}
.conversation-container {
    flex-direction: column;
}
.title {
    font-size: 2.4rem;
    padding: 1rem 2.4rem 2rem;
    letter-spacing: 1px;
}

.full-name {
    font-size: 1.8rem;
    font-weight: 600;
}
.nickname {
    font-size: 1.6rem;
    color: var(--grey-color-2);
}

// conversation container
.conversation-container {
}
.conversation-header {
    border-bottom: 0.5px solid rgba(22, 24, 35, 0.12);

    align-items: center;
    gap: 1.2rem;
    padding: 1.6rem;
}
.conversation-infor {
    flex-direction: column;
}
.conversation-bottom {
    border-top: 0.5px solid rgba(22, 24, 35, 0.12);
}

// conversation items
.conversation-main {
    flex: 1;
    padding: 1rem 2.4rem;
    overflow-y: overlay;
}
.conversation-item {
    gap: 0.5rem;
    align-items: center;
    &:hover .conversation-btn-box {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
    }
}
.conversation-btn-box {
    display: none;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.conversation-btn {
    fill: var(--grey-color-2);
    cursor: pointer;
}
.send-message {
    flex-direction: row-reverse;
    .conversation-content {
        background-color: var(--blue-color);
    }
}
.read-avatar {
    align-self: flex-end;
    min-width: 1.4rem;
}
.time-chat {
    font-size: 1.2rem;
    text-align: center;
    padding: 0.8rem 0;
    color: var(--grey-color-2);
}
.action-options {
    padding: 1.2rem 0.8rem;
    color: var(--white-color);
    background-color: rgba(84, 84, 84, 0.92);
    -webkit-border-radius: var(--border-radius-md);
    -moz-border-radius: var(--border-radius-md);
    -ms-border-radius: var(--border-radius-md);
    -o-border-radius: var(--border-radius-md);
    border-radius: var(--border-radius-md);
}
.option-btn {
    font-size: 1.3rem;
    padding: 0 0.8rem;
    &:hover {
        text-decoration: underline;
    }
}
.conversation-content {
    font-size: 1.6rem;
    margin: 0 0.25rem;
    padding: 0.7rem 1.2rem;
    max-width: 360px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    background-color: var(--grey-color);
    white-space: pre-wrap;
    word-break: break-word;
    -webkit-border-radius: var(--border-radius-sm);
    -moz-border-radius: var(--border-radius-sm);
    -ms-border-radius: var(--border-radius-sm);
    -o-border-radius: var(--border-radius-sm);
    border-radius: var(--border-radius-sm);
}
