.wrapper {
    height: calc(100vh - var(--default-header-height) - 3.2rem); //3.2rem main padding
    min-height: 490px;
    display: grid;
    grid-template-columns: 35.6rem 1fr;
    @media screen and (max-width: 768px) {
        grid-template-columns: max-content 1fr;
    }
    gap: 1.6rem;
    @media screen and (max-width: 425px) {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }
}
.list-content {
    @media screen and (max-width: 375px) {
        display: flex;
        justify-content: flex-start;
        overflow-x: overlay;
        &::-webkit-scrollbar {
            border-radius: 0;
            width: 0px;
            height: 0px;
        }
    }
}
.conversation-container {
    @media screen and (max-width: 375px) {
        flex: 1;
    }
}
.conversation-list,
.conversation-container {
    background-color: var(--white-color);
    overflow: hidden;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-radius: var(--border-radius-big);
    -webkit-border-radius: var(--border-radius-big);
    -moz-border-radius: var(--border-radius-big);
    -ms-border-radius: var(--border-radius-big);
    -o-border-radius: var(--border-radius-big);
}
.conversation-list {
}
.conversation-container {
    flex-direction: column;
}
.title {
    font-size: 2.4rem;
    padding: 1rem 2.4rem 2rem;
    letter-spacing: 1px;
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.full-name {
    font-size: 1.8rem;
    font-weight: 600;
}
.nickname {
    font-size: 1.6rem;
    color: var(--grey-color-2);
}

// conversation container
.conversation-container {
}
.conversation-header {
    border-bottom: 0.5px solid rgba(22, 24, 35, 0.12);
    align-items: center;
    gap: 1.2rem;
    padding: 1.6rem;
    @media screen and (max-width: 425px) {
        padding: 0.5rem 1rem;
    }
}
.conversation-infor {
    flex-direction: column;
}
.conversation-bottom {
    border-top: 0.5px solid rgba(22, 24, 35, 0.12);
}

// conversation items
.conversation-main {
    flex: 1;
    padding: 1rem 2.4rem;
    overflow-y: overlay;
}
