.wrapper {
    align-items: flex-start;
    flex-direction: column;
    width: fit-content;
    cursor: pointer;
}
.name-box {
    align-items: center;
    gap: 0.25rem;
}
.check-icon {
    fill: var(--blue-color);
}
.name {
    font-size: 1em;
    font-weight: 600;
    color: var(--text-theme);
}
.nickname {
    color: var(--text-theme);
    font-weight: 400;
    font-size: 0.75em;
}
