.wrapper {
    align-items: flex-start;
    flex-direction: column;
    width: fit-content;
    cursor: pointer;
}
.name-box {
    align-items: center;
    gap: 0.25rem;
}
.check-icon {
    fill: var(--blue-color);
}
.name {
    font-size: 1em;
    font-weight: 600;
}
.nickname {
    font-weight: 400;
    font-size: 0.75em;
    color: var(--grey-color-1);
}
