.wrapper {
    gap: 0.75rem;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 100%;
    color: var(--black-color);
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    &:active {
        opacity: 0.5;
    }
}
.title {
    font-size: 1em;
}
.icon {
    align-items: center;
    font-size: 1.5em;
}
//size
.size-sm {
    height: 2.8rem;
    width: 8.8rem;
}
.size-md {
    height: 3.6rem;
    width: 10rem;
}
.size-big {
    height: 4.8rem;
}

//styles

.btn-primary {
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}
.btn-grey {
    &:hover {
        background-color: var(--hover-bg-color);
    }
}
.btn-rounded {
    border-radius: var(--border-radius-bigest);
}
.btn-all-rounded {
    border-radius: 50%;
}
// .btn-outline {
//     // border: 1px solid var(--primary-color);
// }

//background-color
.bg-primary {
    background-color: var(--primary-color);
}
.bg-grey {
    background-color: var(--grey-color-1);
}

//color
.color-primary {
    color: var(--primary-color);
}
.color-white {
    color: var(--white-color);
}
.color-black {
    color: var(--black-color);
}
.color-grey {
    color: var(--grey-color-3);
}

//border
.border-primary {
    border: 1px solid var(--primary-color);
}
.border-grey {
    border: 1px solid rgba(22, 24, 35, 0.12);
}

//disable
.disabled {
    cursor: unset;
    &:active {
        opacity: 1;
    }
}
