.wrapper {
    gap: 0.75rem;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    width: 100%;
    color: var(--black-color);
    border-radius: var(--border-radius-sm);
    cursor: pointer;
}
.icon {
    align-items: center;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
}
.btn-primary {
    color: var(--white-color);
    background-color: var(--primary-color);
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}
.btn-grey {
    color: var(--black-color);
    border: 1px solid rgba(22, 24, 35, 0.12);
    &:hover {
        background-color: var(--hover-bg-color);
    }
}
.btn-outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
.btn-rounded {
    border: 1px solid var(--grey-color);
    border-radius: var(--border-radius-bigest);
}
.size-sm {
    height: 2.8rem;
    width: 8.8rem;
}
.size-md {
    height: 3.6rem;
    width: 10rem;
}
.size-big {
    height: 4.8rem;
}
