.user-container {
    width: 100%;
    align-items: center;
    gap: 1.25rem;
    padding: 0.5rem 2.4rem;
    @media screen and (max-width: 768px) {
        padding: 0.5rem 1.2rem;
    }
    cursor: pointer;
    &:hover {
        background-color: var(--hover-theme);
    }
    @media screen and (max-width: 425px) {
        width: auto;
        padding: 0.5rem;
    }
}
.user-avatar {
    @media screen and (max-width: 425px) {
        height: 40px !important;
        width: 40px !important;
    }
}
.content {
    max-height: calc(100vh - var(--default-header-height) - 1.6rem - 5.8rem);
    overflow: overlay;
}
.user-name {
    font-size: 1.6rem;
    font-weight: 600;
}
.user-infor-box {
    justify-content: space-between;
    width: 100%;
    flex: 1;
    gap: 1rem;
    @media screen and (max-width: 768px) {
        display: none !important;
    }
}
.user-infor {
    flex-direction: column;
}
.read {
    align-self: center;
}
.has-new-message {
    align-self: center;
    width: 0.9rem;
    height: 0.9rem;
    background-color: var(--primary-color);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}

.check-read {
    color: var(--grey-color-2);
    font-size: 1.5rem;
}
.infor-extract-box {
    max-width: 22.4rem;
    font-size: 1.4rem;
}
.infor-extract {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.unread {
    color: var(--primary-color);
    font-size: 1.5rem;
}
.user-time {
    padding-left: 0.5rem;
}
