@import '~@csstools/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,600;1,100;1,300;1,400;1,500;1,700&display=swap');

//media query
/* 0-600: phone 37.5em
 600-900:tablet portrait 56.25em
 900-1200:tablet landscape 75em
 1200-1800: pc (is where our normal styles apply)
 1800 + : big desktop
*/

@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media only screen and (max-width: 37.5em) {
            @content;
        }
    }

    @if $breakpoint==tab-port {
        @media only screen and (max-width: 56.25em) {
            @content;
        }
    }

    @if $breakpoint==tab-land {
        @media only screen and (max-width: 75em) {
            @content;
        }
    }

    @if $breakpoint==big-desktop {
        @media only screen and (min-width: 112.5em) {
            @content;
        }
    }
}

//global variable
:root {
    //color
    --primary-color: #fe2c55;
    --white-color: #ffffff;
    // --grey-color: #f1f1f2;
    --grey-color: #f0f2f5;
    // --dark-theme: #413f42;
    // --light-theme: #fff;
    --border-theme: rgba(255, 255, 255, 0.1);
    --border-theme-2: rgba(255, 255, 255, 0.1);
    --bg-theme: '#18191a';
    --bg-theme-2: '#3a3b3c';
    --text-theme: '#E4E6EB';
    --icon-theme: '#b0b3b8';
    --hover-theme: '#3a3b3c';
    --grey-color-1: #c5c6c9;
    --grey-color-2: rgba(22, 24, 35, 0.5);
    --grey-color-3: rgba(22, 24, 35, 0.75);
    --grey-color-4: #7f7f7f;
    --green-color: #3ec70b;
    --orange-color: #e8aa42;
    --border-color: rgba(255, 255, 255, 0.1);

    --text-color: #413f42;
    --hover-bg-color: rgba(22, 24, 35, 0.03);
    --black-color: #18191a;
    --black-color-1: #2c2c30;
    --blue-color: rgb(32, 213, 236);
    //default layout
    --PC-max-width: 115rem;
    --default-layout-horizontal-space: 2rem;
    --default-header-height: 6rem;
    --default-search-width: 35rem;
    --app-footer-height: 4.5rem;
    //font-family
    --font-family: 'Proxima, sans-serif';
    --window-height: 100vh;
    //box-shadow
    --box-shadow-sm-round: 0px 0px 2px rgb(0 0 0 / 12%);
    --box-shadow-sm: 0px 1px 1px rgb(0 0 0 / 12%);
    --box-shadow-md: rgb(0 0 0 / 12%) 0px 2px 12px;
    //border-radius
    --border-radius-bigest: 50px;
    --border-radius-big: 10px;
    --border-radius-md: 8px;
    --border-radius-sm: 3px;
}

//global style
* {
    color: var(--text-theme);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent; //stop highlight when click on element in mobile
}

html {
    font-size: 62.5%;
    // @include respond(tab-port) {
    //     font-size: 56.25%; //
    // }
    //make snap can work
    height: 100%;
    scroll-snap-type: y mandatory;
    // overflow: overlay; //scrollbar overlay
}
body {
    // font-family: 'IBM Plex Sans', sans-serif;
    font-family: var(--font-family);
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    // overflow: overlay;
}
input,
button {
    outline: none;
    border: none;
    background-color: transparent;
}
a {
    text-decoration: none;
}
.btn {
    border-radius: var(--border-radius-sm);
}
.d-flex {
    display: flex;
}
.d-grid {
    display: grid;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.absolute-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
//fonts
@font-face {
    font-family: Proxima;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: sofiapro;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 500;
}
@font-face {
    font-family: sofiapro;
    src: url('/assets/fonts/sofiapro-bold.woff2');
    font-weight: 600;
}

//custom tippy
body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
}

//custom scrollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 6px;
    //hide:;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(79, 41, 41, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
body::-webkit-scrollbar {
    width: 6px; //hide
}
