@import '~@csstools/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,400&display=swap');
:root {
    --primary-color: #fe2c55;
    --white-color: #ffffff;
    --default-header-height: 6rem;
    --box-shadow-sm: 0px 1px 1px rgb(0 0 0 / 12%);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
