.wrapper {
    position: relative;
    background-color: var(--bg-theme);
    border-radius: var(--border-radius-md);
    border: 1px solid var(--border-theme);
    overflow: hidden;
    max-height: 90%;
    padding: 3rem 2rem 0 2rem;
    @media only screen and (max-width: 768px) {
        width: 100vw;
        height: 100vh;
        padding: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}
.close-btn-box {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    border-radius: 500px;
    background-color: var(--grey-color);
    @media only screen and (max-width: 450px) {
        top: 6px;
        height: 35px;
        width: 35px;
    }
}
.close-btn {
    fill: var(--grey-color-3);
    cursor: pointer;
}

.title {
    font-size: 3.2rem;
    width: fit-content;
    padding-top: 3rem;
    margin: 0 auto;
    @media only screen and (max-width: 450px) {
        font-size: 2rem;
        padding-top: 1.5rem;
        margin-left: 1rem;
    }
}
.action-btns {
    flex-direction: column;
    min-height: 20rem;
    // height: 10rem;
    gap: 1rem;
    padding: 0 3.4rem;
    margin-top: 2rem;
    overflow: scroll;
    @media only screen and (max-width: 450px) {
        padding: 1rem;
        margin-top: 1rem;
    }
}
.action-btn {
    padding: 1rem;
    gap: 4rem;
    font-size: 1.5rem;
    justify-content: space-between;
    // border: 1px solid rgba(22, 24, 35, 0.12);
    border: 1px solid var(--border-theme);
    border-radius: var(--border-radius-sm);
    &:hover {
        background-color: var(--hover-theme);
    }
    & > :last-child {
        flex: 1;
        align-items: center;
        padding-right: 9rem;
        @media only screen and (max-width: 37.5em) {
            padding-right: 0;
            max-width: fit-content;
        }
    }
    @media only screen and (max-width: 37.5em) {
        justify-content: flex-start;
        gap: 1rem;
    }
}
.bottom {
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 2rem;
}
.sign-up-btn {
    & > span {
        color: var(--primary-color);
    }
}
