.wrapper {
    //     position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.footer-text {
    color: var(--white-color);
    flex: 1;
    padding-right: 4rem;
}
.name {
    align-items: center;
    flex-wrap: wrap;
    // gap: 0.5rem;
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    span {
        font-size: 1.5rem;
        color: var(--grey-color-1);
    }
    .dot {
        align-self: center;
    }
    .created-at {
        font-size: 1.25rem;
        // margin-left: 0.5rem;
    }
    .tag {
        align-self: flex-end;
    }
}

.bottom {
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.title {
    flex: 1;
    gap: 1rem;
    align-items: center;
}
.slogan-box {
    flex: 1;
    overflow: hidden;
    margin-right: 4rem;
}
.slogan {
    max-width: fit-content;
    font-size: 1.35rem;
    color: var(--white-color);
}

.music-icon {
    width: 15px;
    height: 15px;
    background-size: 13px 13px;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/tiktok-6309a.appspot.com/o/images%2Fmusic-icon.png?alt=media&token=530703b1-47a0-4508-82e6-1edb194101a5);
}
.content-box {
    width: 100%;
    overflow: hidden;
}
.content {
    font-size: 1.45rem;
    color: var(--grey-color);
    font-weight: 500;
    // animation: content-move 10s linear infinite forwards;
}
.show-content {
    color: var(--white-color);
}
.spiner-container {
    position: absolute;
    right: 0;
    top: 25%;
    height: 4rem;
    width: 4rem;
    transform: translateY(-50%);
}
