.wrapper {
    //     position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.footer-text {
    color: var(--white-color);
    flex: 1;
    padding-right: 4rem;
}
.name {
    align-items: center;
    flex-wrap: wrap;
    // gap: 0.5rem;
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    span {
        font-size: 1.5rem;
        color: var(--grey-color-1);
    }
    .dot {
        align-self: center;
    }
    .created-at {
        font-size: 1.25rem;
        // margin-left: 0.5rem;
    }
    .tag {
        align-self: flex-end;
    }
}

.bottom {
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.title {
    flex: 1;
    gap: 1rem;
    align-items: center;
}
.slogan-box {
    flex: 1;
    overflow: hidden;
    margin-right: 4rem;
}
.slogan {
    max-width: fit-content;
    font-size: 1.35rem;
    color: var(--white-color);
}
.slogan-animated {
    animation: slogan-move 10s linear infinite forwards;
}
.music-icon {
    width: 15px;
    height: 15px;
    background-size: 13px 13px;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/tiktok-6309a.appspot.com/o/images%2Fmusic-icon.png?alt=media&token=530703b1-47a0-4508-82e6-1edb194101a5);
}
.content-box {
    width: 100%;
    overflow: hidden;
}
.content {
    font-size: 1.45rem;
    color: var(--grey-color);
    font-weight: 500;
    // animation: content-move 10s linear infinite forwards;
}
.show-content {
    color: var(--white-color);
}
.spiner-container {
    position: absolute;
    right: 0;
    top: 25%;
    height: 4rem;
    width: 4rem;
    transform: translateY(-50%);
}
.spiner-song,
.spiner-music {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    opacity: 0;
    background-size: 13px 13px;
    background-repeat: no-repeat;
    transition: all 0.1;
    background-position: left center;
}
.song-animated {
    animation: song-icon-move 2.5s linear infinite forwards;
    opacity: 1;
}
.spiner-song {
    top: 45%;
    left: 15%;
    animation-delay: 1s;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/tiktok-6309a.appspot.com/o/images%2Fsong-icon.png?alt=media&token=60f00d8d-cb89-48c6-b809-d6c96d98128c);
}
.spiner-music {
    top: 10%;
    left: -20%;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/tiktok-6309a.appspot.com/o/images%2Fmusic-icon.png?alt=media&token=530703b1-47a0-4508-82e6-1edb194101a5);
}
.spiner-box {
    height: 100%;
    width: 100%;
}
.avatar-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@keyframes slogan-move {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes song-icon-move {
    0% {
        transform: translate(0, 0) rotate(0deg);
        opacity: 0;
    }
    25% {
        transform: translate(-15px, -20px) rotate(25deg) scale(1);
        opacity: 0.5;
    }
    50% {
        transform: translate(-10px, -40px) rotate(-25deg) scale(1.15);
        opacity: 0.75;
    }
    75% {
        transform: translate(-5px, -60px) rotate(90deg) scale(1.2);
        opacity: 0;
    }
    100% {
        transform: translate(5, -80px) rotate(0deg) scale(1.35);
        opacity: 0;
    }
}
