.wrapper {
    position: relative;
    gap: 1rem;
    align-items: center;
    padding: 1rem 2rem;
    // width: 25vw;
    min-width: 25rem;
    @media screen and (max-width: 425px) {
        // min-width: unset;
        min-width: 90vw;
        padding: 1rem 3rem;
    }
    -webkit-border-radius: var(--border-radius-sm);
    -moz-border-radius: var(--border-radius-sm);
    -ms-border-radius: var(--border-radius-sm);
    -o-border-radius: var(--border-radius-sm);
    border-radius: var(--border-radius-sm);
    box-shadow: var(--box-shadow-sm);
    cursor: pointer;
    &:before {
        content: '';
        width: 4px;
        position: absolute;
        top: 50%;
        left: 5px;
        height: 80%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    -webkit-animation: toast-animated 0.3s linear forwards;
    animation: toast-animated 0.3s ease-in;
}
.title {
    font-size: 1.8rem;
    text-transform: capitalize;
}
.message {
    font-size: 1.5rem;
    width: fit-content;
    color: var(--white-color);
    // word-wrap: break-word;
    // word-break: break-all;
}
.success {
    background-color: rgba(84, 84, 84, 0.92);
    color: var(--white-color);
    &:before {
        background-color: var(--white-color);
    }
    .icon {
        fill: var(--white-color);
    }
}

@keyframes toast-animated {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}
