.wrapper {
    --sidebar-width: 35rem;
    @media only screen and (max-width: 56.25em) {
        --sidebar-width: 7.2rem;
    }
}
.header {
    max-width: var(--PC-max-width);
    margin: 0 auto;
}
.container {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    gap: 1rem;
    max-width: var(--PC-max-width);
    margin: 0 auto;
    margin-top: var(--default-header-height);
    @media only screen and (max-width: 56.25em) {
        gap: 0;
    }
}
.sidebar {
    width: var(--sidebar-width);
    @media only screen and (max-width: 56.25em) {
        box-shadow: 0px 2px 8px rgb(0 0 0 / 6%);
        border-right: 1px solid rgba(22, 24, 35, 0.12);
    }
}
