.wrapper {
}
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    max-width: var(--PC-max-width);
    margin: 0 auto;
    padding: var(--default-layout-horizontal-space);
    margin-top: var(--default-header-height);
}
