.wrapper {
}
.app-btn {
    position: fixed;
    flex-direction: column;
    align-items: flex-end;
    z-index: 9;
    gap: 1rem;
    margin-bottom: 0.5rem;
    bottom: 0.75rem;
    right: 2.4rem;
    transition: all 0.2s linear;
    transform: translateY(60%);
}
.show-btn {
    transform: translateY(0);
}
.get-app-btn {
    font-size: 1.4rem;
    height: 3.2rem;
    width: 9rem;
    color: var(--grey-color-2);
    background-color: var(--bg-theme);
    box-shadow: var(--box-shadow-sm-round);
    font-weight: 600;
}
.scroll-btn {
    width: 3.2rem;
    height: 3.2rem;
}
.forward-icon {
    color: var(--icon-theme);
}
