.wrapper {
    //     min-height: 30rem;
    width: 100%;
}
.private-box {
    flex-direction: column;
    align-items: center;
    color: var(--text-theme);
    h4 {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }
}
