.theme-mode {
    align-items: center;
    gap: 0.5rem;
}
.mode-box {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    //     color: var(--white-color);
    // background-color: var(--grey-color);

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.active-mode-black {
    background-color: var(--grey-color-1);
    opacity: 0.9;
    color: var(--black-color);
    & svg {
        fill: var(--black-color);
    }
}
.active-mode-white {
    background-color: var(--grey-color);
}
