.wrapper {
    --sidebar-width: 24rem;
}
.container {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    gap: 1rem;
    margin-top: var(--default-header-height);
}
.sidebar {
    width: var(--sidebar-width);
}
.content {
    padding-left: 4rem;
}
