.wrapper {
    column-gap: 0.75rem;
    row-gap: 1rem;
    flex-wrap: wrap;
    & + .wrapper {
        margin-top: 1.5rem;
    }
}
.btn {
    font-size: 1.3rem;
    width: fit-content;
    color: var(--grey-color-2);
    &:hover {
        text-decoration: underline;
    }
}
