.wrapper {
    column-gap: 0.75rem;
    row-gap: 1rem;
    flex-wrap: wrap;
    & + .wrapper {
        margin-top: 1.5rem;
    }
}
.btn {
    font-size: 1.3rem;
    border: 1px solid var(--border-theme);
    padding: 0.25rem 0.75rem;
    width: fit-content;
    &:hover {
        text-decoration: underline;
    }
    border-radius: var(--border-radius-bigest);
    -webkit-border-radius: var(--border-radius-bigest);
    -moz-border-radius: var(--border-radius-bigest);
    -ms-border-radius: var(--border-radius-bigest);
    -o-border-radius: var(--border-radius-bigest);
}
