.wrapper {
    font-size: 1rem;
    position: relative;
    width: fit-content;
    // height: 3.5em;
    &:before,
    &:after {
        position: absolute;
        content: ' ';
        top: 5px;
        background-color: var(--primary-color);
        width: 1.8em;
        height: 1.8em;
        border-radius: 1.8em;
        mix-blend-mode: multiply;
        animation: titok 1.25s infinite linear;
    }
    &:after {
        background-color: #4de8f4;
        animation-delay: 0.5s;
    }
}
@keyframes titok {
    0%,
    100% {
        top: 0.5em;
        left: 0px;
        width: 1.8em;
        height: 1.8em;
        z-index: 0;
    }
    25% {
        top: 0px;
        height: 3.5em;
        width: 3.5em;
        z-index: 1;
        left: 1.8em;
        transform: scale(1);
    }
    50% {
        top: 5px;
        width: 1.8em;
        height: 1.8em;
        left: 4em;
    }
    75% {
        top: 0.8em;
        width: 2.4em;
        height: 2.4em;
        left: 1.8em;
        transform: scale(0.9);
    }
}
