.wrapper {
    position: relative;
}
.notification-menu {
    margin-top: -1.25px;
    // border-top: 1.5px solid rgb(0 0 0 / 0);
    border: 1px solid var(--border-theme);
    border-radius: var(--border-radius-md);
}
.container {
    background-color: var(--bg-theme);
    box-shadow: var(--box-shadow-md);
    -webkit-border-radius: var(--border-radius-md);
    -moz-border-radius: var(--border-radius-md);
    -ms-border-radius: var(--border-radius-md);
    -o-border-radius: var(--border-radius-md);
    border-radius: var(--border-radius-md);
    @media screen and (max-width: 425px) {
        box-shadow: none;
        box-shadow: 0 4px 2px -2px var(--grey-color);
        border-radius: 0;
        bottom-border-radius: var(--border-radius-md);
    }
}
.header {
    padding: 2.4rem 1.6rem;
    font-size: 2.4rem;
    font-weight: 600;
}
.group-container {
    gap: 0.8rem;
    padding: 0 1.6rem;
    @media screen and (max-width: 425px) {
        justify-content: space-between;
        padding: 0 0.25rem;
        gap: 0.1rem;
    }
}

.group-item {
    font-size: 1.4rem;
    padding: 0.5rem 0.8rem;
    border: 1px solid var(--border-theme);
    background: var(--bg-theme);
    -webkit-border-radius: var(--border-radius-bigest);
    -moz-border-radius: var(--border-radius-bigest);
    -ms-border-radius: var(--border-radius-bigest);
    -o-border-radius: var(--border-radius-bigest);
    border-radius: var(--border-radius-bigest);
}
.group-item-active {
    background: var(--hover-theme);
}
.main-content {
    height: calc(75vh - var(--default-header-height));
    margin-top: 2.5rem;
    flex-direction: column;
    gap: 0.75rem;
    overflow-y: scroll;
}
.content-item {
    width: 100%;
    height: 100%;
}

// Liked
.like,
.comment {
    width: 100%;
    align-items: flex-start;
    gap: 1.25rem;
    padding: 0.5rem 0.8rem;
    &:hover {
        background-color: var(--hover-theme);
    }
}
.sub-content {
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
    font-size: 1.4rem;
}
.full-name {
    position: relative;
    width: fit-content;
    font-size: 1.5rem;
    &.read::after {
        content: '';
        position: absolute;
        top: 50%;
        right: -2rem;
        height: 0.75rem;
        width: 0.75rem;
        background-color: var(--primary-color);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        transform: translateY(-50%);
    }
}
.sub-comment {
    position: relative;
    margin-left: 0.5rem;
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -0.5rem;
        height: 90%;
        width: 2px;
        background-color: var(--grey-color-1);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}
.video-poster {
    width: 4.2rem;
    height: 5.6rem;
    overflow: hidden;
    -webkit-border-radius: var(--border-radius-sm);
    -moz-border-radius: var(--border-radius-sm);
    -ms-border-radius: var(--border-radius-sm);
    -o-border-radius: var(--border-radius-sm);
    border-radius: var(--border-radius-sm);
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// followers
.follower {
    align-items: center;
    gap: 1.25rem;
    width: 100%;
    padding: 0.5rem 0.8rem;
    &:hover {
        background-color: var(--hover-theme);
    }
}
.follower-content {
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
    font-size: 1.4rem;
}
.follow-btn {
    font-size: 1.3rem;
}

//mentions
.mentions {
    width: 100%;
}

//comment

//notification blank
.notification-blank {
    padding-top: 4rem;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.notification-blank-title {
    font-size: 1.7rem;
}
.notification-blank-desc {
    font-size: 1.4rem;
    text-align: center;
}
