.wrapper {
    flex-direction: column;
    gap: 0.75rem;
}
.action-container {
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    span {
        font-size: 1.2rem;
    }
}
.box {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    background-color: var(--grey-color);
    &:hover {
        background-color: rgba(22, 24, 35, 0.1);
        transform: scale(1.05);
    }
    &:active {
        animation: btnActiveAnimated 0.3s linear;
        transform: scale(1);
    }
}
