.wrapper {
    flex-direction: column;
    gap: 0.75rem;
}
.action-container {
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    span {
        font-size: 1.2rem;
        color: var(--text-theme);
    }
}
.box {
    width: 4.8rem;
    height: 4.8rem;
    @media screen and (max-width: 479px) {
        width: 3.5rem;
        height: 3.5rem;
    }

    border-radius: 50%;
    background-color: var(--grey-color);
    &:hover {
        // background-color: rgba(22, 24, 35, 0.1);
        background-color: var(--hover-theme);
        transform: scale(1.05);
    }
    &:active {
        animation: btnActiveAnimated 0.3s linear;
        transform: scale(1);
    }
}
.icon {
    fill: var(--icon-theme);
    color: var(--icon-theme);
    font-size: 2.6rem;
}
