.wrapper {
    justify-content: flex-start;
    gap: 1.25rem;

    max-height: 70vh;
}
.video-box {
    position: relative;
    flex-grow: 0;
    max-width: 30rem;
    border-radius: var(--border-radius-md);
    --webkit-border-radius: var(--border-radius-);
    overflow: hidden;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
    cursor: pointer;
    border-radius: var(--border-radius-md);
}

.poster {
    height: 100%;
    object-fit: contain;
    border-radius: var(--border-radius-md);
}
.display-poster {
    position: relative;
    z-index: 2;
}
.report-box {
    display: none;
    position: absolute;
    z-index: 5;
    top: 5%;
    right: 5rem;
    align-items: center;
    gap: 0.25rem;
    font-size: 1.6rem;
    padding: 0.5rem;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--white-color);
    transition: all 1.25s ease;
    cursor: pointer;
    -webkit-border-radius: var(--border-radius-md);
    -moz-border-radius: var(--border-radius-md);
    -ms-border-radius: var(--border-radius-md);
    -o-border-radius: var(--border-radius-md);
    border-radius: var(--border-radius-md);
    &:hover {
        display: flex;
        opacity: 1;
    }
}
.video:hover ~ .report-box {
    display: flex;
    opacity: 1;
}
.video-footer {
    align-self: flex-end;
    // flex: 1;
}
