.wrapper {
    position: fixed;
    top: var(--default-header-height);
    bottom: 0;
    z-index: 9;
    padding: 1.75rem 0.8rem;
    background-color: var(--white-color);
    transition: all 0.5s linear;
    overflow: scroll;
    overflow: overlay;
    &:hover::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar {
        border-radius: 0;
        width: 0px;
    }
    .video-cls {
        fill: red;
    }

    .action-btn {
        font-size: 1.8rem;
        justify-content: flex-start;
        padding-left: 1rem;
        fill: red;
        // margin-left: -1rem;
        &:hover {
            background-color: var(--hover-bg-color);
        }
        &:last-child {
            margin-bottom: 0.75rem;
        }
    }
    .active-btn {
        color: var(--primary-color);
        fill: var(--primary-color);
    }
}

.action {
    transform: translatX(-50%);
    -webkit-transform: translatX(-50%);
    -moz-transform: translatX(-50%);
    -ms-transform: translatX(-50%);
    -o-transform: translatX(-50%);
}
//suggest
.suggest-account {
}

.suggest-list {
}
.login-box {
    display: flex;
    border-top: 1px solid var(--grey-color);
    padding: 2rem 0 2rem 1rem;
    gap: 2rem;
    flex-direction: column;
}
.login-text {
    font-size: 1.6rem;
    color: var(--grey-color-2);
}
//footer
.footer {
    border-top: 1px solid var(--grey-color);
    padding: 1.25rem 0;
}

.copy-right {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1rem;
    color: var(--grey-color-2);
}
