.wrapper {
    position: fixed;
    top: var(--default-header-height);
    bottom: 0;
    z-index: 9;
    padding: 1.75rem 0.8rem;
    background-color: var(--white-color);
    transition: all 0.5s linear;
    overflow: scroll;
    overflow: overlay;
    &:hover::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar {
        border-radius: 0;
        width: 0px;
    }
    .action-btn {
        font-size: 1.8rem;
        justify-content: flex-start;
        padding-left: 1rem;
        // margin-left: -1rem;
        &:hover {
            background-color: var(--hover-bg-color);
        }
        &:last-child {
            margin-bottom: 0.75rem;
        }
        & > span {
            @media only screen and (max-width: 56.25em) {
                display: none;
            }
        }
    }
    .following-list {
        @media only screen and (max-width: 56.25em) {
            display: none;
        }
    }
}
.action {
}
//suggest
.suggest-account {
}

.suggest-list {
}
.login-box {
    display: flex;
    border-top: 1px solid var(--grey-color);
    padding: 2rem 0 2rem 1rem;
    gap: 2rem;
    flex-direction: column;
    @media only screen and (max-width: 56.25em) {
        display: none;
    }
}
.login-text {
    font-size: 1.6rem;
    color: var(--grey-color-2);
}
//footer
.footer {
    border-top: 1px solid var(--grey-color);
    padding: 1.25rem 0;
    @media only screen and (max-width: 56.25em) {
        display: none;
    }
}

.copy-right {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1rem;
    color: var(--grey-color-2);
}

.discover {
    @media only screen and (max-width: 56.25em) {
        display: none;
    }
}
