.wrapper {
    position: relative;
    gap: 1.2rem;
    min-height: 70vh;
    padding: 2rem 1rem;
    // max-width: 30rem;

    border-bottom: 1.5px solid var(--grey-color);
    // scroll-snap-align: start;
    align-items: flex-start;
}
.avatar {
    height: fit-content;
}
.name-box {
    @media screen and (max-width: 479px) {
        gap: 1rem;
        align-items: center;
        margin-bottom: 0.75rem;
    }
}
.mobile-avatar {
    display: none;
    @media screen and (max-width: 479px) {
        display: block;
    }
}
.pc-avatar {
    @media screen and (max-width: 479px) {
        display: none;
    }
}
.content-box {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 80%;
}
.show-content-btn {
    width: fit-content;
    padding: 0.5rem 0.5rem 0 0;
    color: var(--grey-color-2);
    cursor: pointer;
}
.content {
    flex-direction: column;
    // min-height: 70vh;
}
.header {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}
.name {
    font-size: 1.75rem;
}
.desc {
}
.show-less {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.follow-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 0.5rem;
    flex: 1;
    background-color: var(--white-color);
    // @media only screen and (max-width: 479px) {
    //     display: none !important;
    // }
}
.video {
    // max-height: 50rem;
    margin-top: 1rem;
}
