.wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
    flex-shrink: 0;
    padding: 0 1.6rem;
    background-color: var(--black-color);
}
.home-btn {
    fill: var(--white-color);
}
.btn {
    cursor: pointer;
}
.search-btn,
.profile-btn,
.inbox-btn {
    fill: var(--grey-color-1);
}
