.wrapper {
    flex-direction: column;
    gap: 1rem;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow-md);
    padding: 2.25rem 1.75rem;
    z-index: 11;
    min-width: 30rem;
    border-radius: var(--border-radius-md);
}
.header {
    justify-content: space-between;
}

.avatar {
    flex-shrink: 0;
}
.btn {
    width: 10rem;
    justify-self: flex-end;
}

.footer {
    gap: 1rem;
}
.box {
    gap: 0.5rem;
    padding-top: 0.75rem;
}
.count-text {
    font-size: 1.75rem;
    font-weight: 600;
}
.desc-text {
    color: var(--grey-color-2);
}
