.wrapper {
    background-color: var(--bg-theme);
    border-radius: var(--border-radius-md);
    border: 1px solid var(--border-theme);
    //     width: 40vw;
    width: 40rem;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    @media screen and (max-width: 768px) {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}
.header {
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-size: 2.4rem;
}
.title {
}
.close-btn {
    fill: var(--icon-theme);
    cursor: pointer;
}
.mid {
    padding: 0 2rem;
}
.text {
    font-size: 1.6rem;
}
.image-box {
    width: 60%;
    padding: 3rem;
}
.image {
    width: 100%;
    max-width: 100%;
    height: 100%;
}
.bottom {
    text-align: center;
    padding-bottom: 4rem;
}
.action-btns {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    margin: 0 auto;
    width: fit-content;
    margin-top: 2rem;
    column-gap: 1rem;
    row-gap: 0.75rem;
}
.link {
    justify-content: flex-start;
    padding: 0.75rem 2.5rem;
    border-radius: var(--border-radius-sm);
    background-color: #0a0b09;
    color: var(--white-color);
}
